@font-face {
  font-family:'RobotoMono' ;
  src: url('../FONTS/RobotoMono-Regular.ttf');
  font-weight: normal;
}

@font-face {
  font-family:'RobotoMono' ;
  src: url('../FONTS/RobotoMono-Bold.ttf');
  font-weight: 600;
}

@font-face {
  font-family:'RobotoMono' ;
  src: url('../FONTS/RobotoMono-Light.ttf');
  font-weight: 300;
}