<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../CSS/all.css" />
    <link rel="stylesheet" href="../PLUGINS/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../PLUGINS/fontawesome/css/all.min.css" />
    <title>Windel Sistemas</title>
    <link rel="shortcut icon" href="../IMAGES/windel.jfif" />
  </head>
  <body>
    <div class="register-parent">
      <div class="register">
        <div class="register-title">
        
          <img src="../IMAGES/windel.jfif" alt="">
          <h2>Digite suas Informações</h2>
        </div>
        <form>
          <div class="mb-3">
            <div>
            </div>
            <label for="name" class="form-group" 
              >Nome</label
            >
            <input
              type="Text"
              class="form-control"
              id="name"
              placeholder='Nome completo'
            />
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-group"
              >Email</label
            >
            <input
              type="email"
              class="form-control"
              id="exampleInputEmail1"
              placeholder='Email'
            />
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-group"
              >Numero para contato</label
            >
            <input
              type="email"
              class="form-control"
              id="telefone"
              placeholder='Telefone'
            />
          </div>
          <button type="submit" class="btn">Cadastrar</button>
          <div class="contato-breve">
            <h2>Entraremos em contato em breve!</h2>
          </div>
          </div>
          <div>
          </div>
        </form>
      </div>
    </div>
    <script src="../plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="../plugins/fontawesome/js/all.min.js"></script>
  </body>
</html>
